.portfolio-page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.portfolio-page__flex {
  display: flex;
  gap: var(--spacing-lg);
  flex-wrap: wrap;
  justify-content: space-between;
}
