.transactionHistory {
  background: var(--widget-bg);
  border-radius: var(--radius-lg);
  padding: var(--spacing-lg);
  box-shadow: var(--shadow-lg);
  border: var(--border-thick);
}

.transactionTable {
  width: 100%;
  border-collapse: collapse;
}

.transactionTableHeader {
  background-color: var(--sidebar-bg);
}

.transactionTableHeaderRow {
  font-weight: bold;
}

.transactionTableBody tr:nth-child(even) {
  background-color: var(--sidebar-bg);
}

.transactionRow:hover {
  background-color: var(--sidebar-active-item);
}

.transactionTable th,
.transactionTable td {
  border: var(--border-thick);
  padding: 12px;
  text-align: left;
}

.Buy {
  color: var(--light-green);
}

.Sell {
  color: var(--light-red);
}
