.portfolio-summary {
  padding: 20px;
  background: var(--widget-bg);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 24px var(--shadow);
  border: 2px solid var(--light-gray);
  flex: 1;
}

.loss {
  color: var(--light-red);
}

.gain {
  color: var(--light-green);
}
