@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    /* ----- COULEURS ----- */
    --main-bg: #181B24;
    --sidebar-bg: #191434;
    --widget-bg: #2e2e3a;
    --sidebar-active-item: #3D3D63;
    --border-color: #3D3D63;
    --border-color-light: #9594a6;
    --border-thick: 4px solid var(--border-color-light);

    --light-blue: #79ABDE;
    --mid-green: #3EBB7C;
    --light-green: #6ECD85;
    --light-orange: #FA942B;
    --light-red: #B16361;
    --light-purple: #9B59B6;
    --light-yellow: #F1C40F;
    --light-gray: #9798A5;

    /* Textes */
    --font-primary: 'VT323', system-ui, Avenir, Helvetica, Arial, sans-serif;
    --text-primary: rgba(255, 255, 255, 0.95);
    --text-secondary: var(--light-gray);
    --text-muted: rgba(255, 255, 255, 0.5);

    /* Tailles de base */
    --font-size-base: 32px;
    --font-size-sm: 0.85rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.1rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2.4rem;
    --font-size-title: 3.2em;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* ESPACEMENTS */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-round: 50%;

    /* OMBRES */
    --shadow-color: rgba(6, 8, 23, 0.3);
    --shadow-sm: 0 2px 4px var(--shadow-color);
    --shadow-md: 0 4px 6px var(--shadow-color);
    --shadow-lg: 0 10px 15px var(--shadow-color);
    --shadow-retro: 10px 10px 0px #00000064;
    --shadow-glow: 0 0 10px rgba(121, 171, 222, 0.2);


    /* TRANSITIONS */
    --transition-fast: 0.15s ease;
    --transition-normal: 0.3s ease;
}